nav ul {
    list-style: none;
    display: block;
    justify-content: right;
    background-color: aliceblue;
    padding:  20px;
    margin: 0px;
}
nav ul li {
    margin: 0px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(40, 70, 90);
    font-weight: bold;

}



